@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "./views/*.templ";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, nord;
}

@layer base {
  body {
    font-family: "JetBrains Mono", monospace;
  }
}