@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: "JetBrains Mono", monospace;
    background-color: #f3f4f6;
    color: #111827;
  }
}
